@media screen and (max-width: 480px) {
    .advantages-link {
        display: none;
    }

    .doing {
        display: none;
    }
    
    .footer-input {
        max-width: 396px;
    }

    .header-list {
        display: none;
    }

    .address-list {
        display: none;
    }
    
}