p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', 'sans-serif';
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}


/*---------HEADER----------*/

.header-contacts {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-navigation {
    display: flex;
    margin-right: auto;
}

.header {
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo-part {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-row {
    display: flex;
}

.header-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -27.5px;
    left: 0;
    background-color: #404BBF;
}

.header-link.current {
    color: #404BBF;
}

.header-link:hover, :focus {
    color: #404BBF;
}

.header-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover {
    color: #404BBF;
}




/*---------MAIN----------*/

.main {
    width: 100%;
    background-color: rgba(46, 47, 66, 0.7);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: 
        linear-gradient(
            rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
            ), 
            url(../img/bg-mob.jpg);
    max-width: 1440px;
    max-height: 600px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image:
    linear-gradient(
            rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
            ), url(../img/bg-mob-2x.jpg);
  }
}



.main-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover {
    background-color: #404BBF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}


/*---------MIDDLE----------*/

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #FFFFFF;
    justify-content: center;
}

.advantages-link {
    background: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.doing {
    padding-bottom: 120px;
    background: #FFFFFF;
}

.doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}


.doing-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.middle-list {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.middle-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.middle-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
}


/*---------TEAM----------*/

.team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 72px;
    max-width: 428px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-name {
    font-size: 20px;
    line-height: 1.20;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-text {
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}


.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-icon {
    fill: #F4F4FD;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
    border-radius: 50%;
}

/*---------CUSTOMERS----------*/

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-top: 96px;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
    gap: 24px;
    row-gap: 72px;
}

.customers-item {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    fill: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover,
.customers-item:focus {
    border-color: #404BBF;
}

.customers-item:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}


/*---------FOOTER----------*/

.footer {
    background: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}


.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer-logo-part {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}


.footer-soc-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-soc {
    width: 100%;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 72px;

}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
    background-color: #31D0AA;
    border-radius: 50%;
}

.footer-soc-link:focus {
    background-color: #31D0AA;
    border-radius: 50%;
}

.footer-soc-icon {
    fill: #FFFFFF;
}

.footer-sub {
    width: 100%;
}

.footer-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    margin-top: 16px;
    height: 40px;
    width: 100%;
    padding-left: 16px;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 16px;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus,
.footer-input:hover {
    background-color: transparent;
    color: #FFFFFF;
}

.sub-btn {
    cursor: pointer;
    background-color: #4D5AE5;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.50;
    display: flex;  
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 16px;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 24px;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:hover,
.sub-btn:focus  {
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
}

.sub-list {

}

.tg-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

/*---------PORTFOLIO----------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}


.portfolio-btn {
    cursor: pointer;
    background: #F4F4FD;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    height: 48px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-btn:hover,
.portfolio-btn:focus  {
    background-color: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
}

.works-title {
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.works-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.works-list {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.works-item {
    width: 360px;
    left: 540px;
    top: 1224px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item:hover,
.works-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    outline: none;
}

.works-item:hover .text-portfolio {
    transform: translateY(0%);
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.text-portfolio {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.works-bg {
    color: #FFFFFF;
}

.works-border {
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}


/*---------BACKDROP----------*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 576px;
    width: 408px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #000000;
}

.modal-close:hover .close-icon {
    fill: #FFFFFF;
}

.modal-close:hover {
    background-color: #404BBF;
}

.modal-close:focus .close-icon {
    fill: #FFFFFF;
}

.modal-close:focus {
    background-color: #404BBF;
}

.modal-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 48px;
    margin-bottom: 16px;
}

.modal-input {
    color: black;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border: 1px solid #4D5AE5;
    outline-color: #4D5AE5;
}

.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.send-btn {
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.50;
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404BBF;
}

.input-text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8E8F99;
}

.modal-field {
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
}

.modal-comment {
    width: 100%;
    height: 120px;
    resize: none;
    outline-color: #4D5AE5;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 4px;
    color: black;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
}


.check-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    align-items: center;
    display: flex;
    align-items: center;
}

.check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    border-color: #2E2F42;
    margin-right: 8px;
    display: block;
    align-items: center;
}

.input-checkbox:checked + .check-text::before {
    background-color: #404BBF;
    border: none;
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.privacy-link {
    text-decoration-line: underline;
    color: #4D5AE5;
    padding-left: 4px;
}

.send-text {
    width: 105px;
}

.header-list,
.address-list,
.advantages-link,
.doing {
    display: none;
}

/*---------MOB-MENU----------*/

.mob-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.menu-open {
    stroke: #2E2F42;
    background-color: transparent;
    border: none;
}

.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
}

.mob-list {
    padding-top: 80px;
    padding-left: 25px;
    display: flex; 
    flex-direction: column;
    gap: 40px;
}

.mob-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:hover, 
.mob-link:focus {
    color: #404BBF;
}

.mob-address-list {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 84px;
    margin-bottom: 48px;
}

.mob-item {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #4D5AE5;
}

.mob-mail {
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 40px;
}

.mob-soc-list {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-bottom: 40px;
}

.mob-menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}


