@media screen and (min-width: 768px) {
    .container {
        max-width: 768px ;
    }

    .header {
        height: 70px;
    }

    .doing,
    .menu-open {
        display: none;
    }

    .advantages-link {
        display: none;
    }

    .header-list {
        display: flex;
    }

    .header-contacts {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .address-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        width: 119px;
        margin-right: 15px;
    }

    .header-link.current::after {
        bottom: -25px;
    }

    .header-list {
        height: 24px;
        margin-left: 120px;
        margin-right: 119px;
    }

    .main {
        background-image:
        linear-gradient(
            rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
            ),  url(../img/bg-tab.jpg);
        padding-top: 112px;
        padding-bottom: 108px;
    }

    .header-title {
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 40px;
    }

    .main-btn {
        font-size: 16px;
        line-height: 1.50;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .main {
    background-image:
    linear-gradient(
            rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
            ), url(../img/bg-tab-2x.jpg);
        }
    }

    .modal {
        max-width: 408px;
    }

    .advantages {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .middle-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
        column-gap: 24px;
    }

    .middle-item {
        width: 356px;
    }

    .team-list {
        gap: 64px;
        column-gap: 24px;
    }

    .team {
        padding-bottom: 104px;
    }



    .team-item {
        width: 264px;
        height: 100%;
    }

    .team-soc-list {
        margin-left: 16px;
        margin-right: 16px;
    }

    .customers-list {
        margin-bottom: 96px;
        width: 552px;
        margin-left: 93px;
    }

    .customers-link {
        width: 168px;
    }

    .footer-soc {
        width: 208px;
        margin-left: 24px;
    }

    .footer-soc-title,
    .footer-logo-part {
        justify-content: left;
    }

    .footer-soc-title {
        margin-bottom: 16px;
    }

    .footer-input {
        width: 264px;
    }

    .sub-list {
        display: flex;
        align-items: center;
        width: 453px;
        height: 40px;
    }

    .sub-btn {
        margin-left: 24px;
    }

    .footer-sub {
        width: 552px;
    }

    .footer-list {
        justify-content: left;
        padding-left: 108px;
    }

    .main {
        max-width: 768px;
    }

    .middle-title {
        text-align: start;
    }
}